* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 5px;
    padding-bottom: 2%; 
    border-bottom: 2px; 
    border-color: rgb(228, 228, 228); 
    border-bottom-style: solid;
}

.fade-out {
    opacity: 0;
    transition: .8s ease-out;
}

.fade-in {
    opacity: 0;
    transition: .8s ease-in;
}

body {
    background-color: #04111b;

}

.header {
    background-color: whitesmoke;
    width: auto;
    max-width: 600px;
    height: auto;
    margin: 0px auto 0;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    border: 4px rgb(211, 211, 211);
    border-bottom: 0;
    border-style: solid;
    display: flex;
}
.app {
    background-color: whitesmoke;
    width: 90%;
    height: 600px;
    max-width: 600px;
    margin: 70px auto 0;
    margin-top: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
    border: 4px rgb(211, 211, 211);
    border-style: solid;
}

#next-btn.inactive {
    opacity: 50%;
}

.inactive {
    opacity: 1;
}

.active {
    opacity: 100%;
    cursor: pointer;
}

.btn {
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: left;
    border: 2px solid black;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    transition: all 0.3s;
}

.btn.active:hover {
    background-color: black;
    color: rgb(250, 250, 250);
}

#next-btn {
    background-color: rgb(250, 250, 250);
    border: 2px solid black;
    display: block;
    padding: 4px;
    margin: 10px auto 0;
    border-radius: 4px;
    width: 50%;
    transition: all .3s;
}

#next-btn:hover.active {
    background: black;
    color: rgb(250, 250, 250);
    opacity: 100%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    margin: 10px;
    border: solid black 1px;
}

.flag {
    width: 100%;
    min-width: 100px;
    max-width: 250px;
    padding: 15px;
    margin: 0% auto 0;
    display: inline-block;
}
